USE [master]
GO
/****** Object:  Database [petsure]    Script Date: 1/27/2017 12:08:13 PM ******/
CREATE DATABASE [petsure]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'petsure', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\petsure.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'petsure_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\petsure_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [petsure].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [petsure]
GO
/****** Object:  Table [dbo].[petsTable]    Script Date: 1/27/2017 12:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[petsTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PetName] [varchar](50) NULL,
 CONSTRAINT [PK_petsTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[petsTable] ON 

INSERT [dbo].[petsTable] ([Id], [PetName]) VALUES (1, N'Rodio')
INSERT [dbo].[petsTable] ([Id], [PetName]) VALUES (2, N'Rover')
INSERT [dbo].[petsTable] ([Id], [PetName]) VALUES (3, N'Pixie')
SET IDENTITY_INSERT [dbo].[petsTable] OFF
USE [master]
GO
